version: 2

updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: sunday
      time: '00:00'
      timezone: America/Sao_Paulo
    labels:
      - dependencies
    commit-message:
      prefix: chore(root)
    target-branch: canary
    groups:
      npm:
        patterns:
          - '*'
    ignore:
      # Blocked by https://github.com/hosseinmd/prettier-plugin-jsdoc/issues/254.
      - dependency-name: prettier-plugin-jsdoc
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
          - version-update:semver-patch

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: sunday
      time: '00:00'
      timezone: America/Sao_Paulo
    labels:
      - dependencies
    commit-message:
      prefix: chore(root)
    target-branch: canary
    groups:
      github-actions:
        patterns:
          - '*'
