version: 2

updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: sunday
      time: '00:00'
      timezone: America/Sao_Paulo
    labels:
      - dependencies
    commit-message:
      prefix: chore(root)
    target-branch: canary
    groups:
      npm:
        patterns:
          - '*'
    ignore:
      # Blocked by https://github.com/mswjs/msw/issues/2585 and https://github.com/mswjs/msw/issues/2597.
      - dependency-name: msw
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
          - version-update:semver-patch
      # Blocked by https://github.com/eslint/eslint/issues/20272
      - dependency-name: eslint
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
          - version-update:semver-patch

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: sunday
      time: '00:00'
      timezone: America/Sao_Paulo
    labels:
      - dependencies
    commit-message:
      prefix: chore(root)
    target-branch: canary
    groups:
      github-actions:
        patterns:
          - '*'
