version: 2

updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: sunday
      time: '00:00'
      timezone: America/Sao_Paulo
    labels:
      - dependencies
    commit-message:
      prefix: chore(root)
    target-branch: canary
    groups:
      npm:
        patterns:
          - '*'
    ignore:
      - dependency-name: zimic
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
          - version-update:semver-patch
      # Chalk v4 still supports CommonJS and is necessary for the Next.js and Playwright examples.
      - dependency-name: chalk
        update-types:
          - version-update:semver-major
      - dependency-name: msw
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
          - version-update:semver-patch

  - package-ecosystem: github-actions
    directories:
      - /.github/workflows
      - /.github/actions/*
    schedule:
      interval: weekly
      day: sunday
      time: '00:00'
      timezone: America/Sao_Paulo
    labels:
      - dependencies
    commit-message:
      prefix: chore(root)
    target-branch: canary
    groups:
      github-actions:
        patterns:
          - '*'
