# Dependency
node_modules

# Build
/out
/apps/*/dist
/apps/*/build
/apps/*/.next
/apps/*/out
/packages/*/dist
/packages/*/build

# Test coverage
/apps/*/tests/coverage
/packages/*/tests/coverage

# Environment variables
.env*.local

# Cache
.turbo
.cache
.eslintcache
tsconfig.tsbuildinfo
/apps/*/.webpack/cache
/packages/*/.webpack/cache

# Miscellaneous
*.log

.vscode
.DS_Store
local/
