# Dependencies
node_modules

# Build
/out
/apps/*/dist
/apps/*/build
/apps/*/.docusaurus
/apps/*/public/mockServiceWorker.js
/apps/*/.next
/apps/*/out
/packages/*/dist
/packages/*/build
/examples/*/build
/examples/*/.next
/examples/*/out

# Tests
/apps/*/tests/coverage
/packages/*/tests/coverage
/examples/*/tests/outputs
/examples/*/tests/reports
/examples/*/next-env.d.ts

**/fixtures/**/generated/*
packages/zimic-http/**/fixtures/openapi/*.json

# Environment variables
.env*.local

# Cache
.turbo
.cache
.eslintcache
tsconfig.tsbuildinfo
/apps/*/.webpack/cache
/packages/*/.webpack/cache

# Miscellaneous
*.log
.vercel
.vscode
.DS_Store
*.pem
tmp/
local/
tracing/
