# Dependencies
node_modules
pnpm-lock.yaml

# Build
/apps/*/dist
/apps/*/build
/apps/*/.docusaurus
/apps/*/public/mockServiceWorker.js
/apps/zimic-test-client/**/typegen/generated/**/*.ts

/packages/*/dist
/packages/*/build

/examples/*/.next

# Tests
/apps/*/tests/coverage
/packages/*/tests/coverage
/examples/*/tests/coverage
/examples/*/tests/outputs
/examples/*/tests/reports

**/fixtures/**/generated/*
packages/zimic-http/**/fixtures/openapi/*.json

# Configuration
.husky

# Cache
.turbo
.cache
.eslintcache
tsconfig.tsbuildinfo

# Logs
*.log

# Miscellaneous
.vscode
local/
