# Dependencies
node_modules
pnpm-lock.yaml

# Build
apps/*/dist
apps/*/build
apps/*/public/mockServiceWorker.js
packages/*/dist
packages/*/build
examples/*/.next
**/public/mockServiceWorker.js

# Tests
/apps/*/tests/coverage
/packages/*/tests/coverage

# Configuration
.husky

# Cache
.turbo
.cache
.eslintcache
tsconfig.tsbuildinfo

# Logs
*.log

# Miscellaneous
.vscode
local/
