# Configuration
/.eslintrc.js
/.lintstagedrc.js

# Dependencies
node_modules

# Build
*/dist
*/public/mockServiceWorker.js

# Tests
*/tests/coverage
**/__tests__/fixtures/**/*.js

# Cache
.turbo

# Miscellaneous
local/
