@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme) important;
@import 'tailwindcss/utilities.css' layer(utilities) important;

@source '../../{src,docs}/**/*.{ts,tsx,md,mdx}';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-primary-50: #cadcfe;
  --color-primary-100: #aac7fd;
  --color-primary-200: #8ab2fc;
  --color-primary-300: #6a9cfc;
  --color-primary-400: #4a87fb;
  --color-primary-500: #2a72fa;
  --color-primary-600: #2167ed;
  --color-primary-700: #185be0;
  --color-primary-800: #0e50d2;
  --color-primary-900: #0544c5;

  --color-white-light: #f7fbff;
  --color-white-dark: #e8f2f8;
  --color-black: #011627;
}

:root {
  --ifm-color-primary-lightest: var(--color-primary-300);
  --ifm-color-primary-lighter: var(--color-primary-400);
  --ifm-color-primary-light: var(--color-primary-500);
  --ifm-color-primary: var(--color-primary-600);
  --ifm-color-primary-dark: var(--color-primary-700);
  --ifm-color-primary-darker: var(--color-primary-800);
  --ifm-color-primary-darkest: var(--color-primary-900);

  --ifm-font-color-base: var(--color-black);
  --ifm-color-content: var(--ifm-font-color-base);

  --ifm-footer-link-color: var(--ifm-font-color-base);
  --ifm-footer-background-color: var(--ifm-navbar-background-color);

  --ifm-code-font-size: 95%;

  --highlighted-code-background-color: rgba(0, 0, 0, 0.1);

  --error-code-background-color: rgba(250, 56, 62, 0.2);
  --error-code-border-color: rgba(250, 56, 62, 0.5);
}

:root[data-theme='dark'] {
  --ifm-color-primary-lightest: var(--color-primary-50);
  --ifm-color-primary-lighter: var(--color-primary-100);
  --ifm-color-primary-light: var(--color-primary-200);
  --ifm-color-primary: var(--color-primary-300);
  --ifm-color-primary-dark: var(--color-primary-400);
  --ifm-color-primary-darker: var(--color-primary-500);
  --ifm-color-primary-darkest: var(--color-primary-600);

  --ifm-background-color: var(--color-black);
  --ifm-background-surface-color: var(--ifm-background-color);

  --ifm-font-color-base: var(--color-white-light);
  --ifm-color-content: var(--ifm-font-color-base);

  --ifm-footer-link-color: var(--ifm-font-color-base);
  --ifm-footer-background-color: var(--ifm-navbar-background-color);

  --highlighted-code-background-color: rgba(0, 0, 0, 0.3);

  --error-code-background-color: rgba(250, 56, 62, 0.2);
  --error-code-border-color: rgba(250, 56, 62, 0.5);

  .navbar {
    border-bottom: 1px solid var(--ifm-color-gray-800);
  }

  .footer {
    border-top: 1px solid var(--ifm-color-gray-800);
  }
}

.menu__list-item-collapsible:has(.menu__link:not([href])) {
  background-color: transparent;
}

.menu__link:not([href]) {
  cursor: default;
  background-color: transparent;

  :hover {
    background-color: transparent;
  }
}

.navbar {
  border-bottom: 1px solid var(--ifm-color-gray-300);
}

:root[data-theme='dark'] {
  .navbar {
    border-bottom: 1px solid var(--ifm-color-gray-800);
  }
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.header-github-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}

.footer {
  border-top: 1px solid var(--ifm-color-gray-300);
}

:root[data-theme='dark'] {
  .footer {
    border-top: 1px solid var(--ifm-color-gray-800);
  }
}

.footer__item {
  svg {
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 0.5rem;
  }
}

.footer__links {
  margin-bottom: 3rem;
}

.theme-code-block-highlighted-line {
  background-color: var(--highlighted-code-background-color);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.code-block-error-line {
  background-color: var(--error-code-background-color);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid var(--error-code-border-color);
}

@media (max-width: 996px) {
  .footer__links {
    text-align: center;

    .footer__col {
      margin-bottom: 0;
    }

    .footer__col + .footer__col {
      margin-top: calc(var(--ifm-spacing-vertical) * 3);
    }

    .footer__items {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
