name: Cache

on:
  push:
    branches:
      - canary
  workflow_dispatch:

concurrency:
  group: cache
  cancel-in-progress: false

env:
  TURBO_TOKEN: ${{ secrets.TURBO_REMOTE_CACHE_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_REMOTE_CACHE_TEAM }}
  TURBO_LOG_ORDER: stream

jobs:
  cache-canary:
    name: Cache canary
    runs-on: ubuntu-latest
    timeout-minutes: 10

    env:
      NODE_VERSION: 22

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Zimic
        uses: ./.github/actions/zimic-setup
        with:
          node-version: ${{ env.NODE_VERSION }}
          turbo-token: ${{ env.TURBO_TOKEN }}
          turbo-team: ${{ env.TURBO_TEAM }}
          install: '"./{apps,packages}/*..." "zimic-example*..."'
          build: '"./{apps,packages}/*^..." "zimic-example*^..."'

      - name: Check formatting style and save prettier cache
        uses: ./.github/actions/zimic-style-check
