name: CI

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref_name }}
  cancel-in-progress: true

env:
  CI: true
  NODE_VERSION: 22

  TURBO_TOKEN: |
    ${{ !(github.event_name == 'pull_request' && startsWith(github.event.pull_request.base.ref, 'v')) && secrets.TURBO_REMOTE_CACHE_TOKEN || '' }}
  TURBO_TEAM: |
    ${{ !(github.event_name == 'pull_request' && startsWith(github.event.pull_request.base.ref, 'v')) && secrets.TURBO_REMOTE_CACHE_TEAM || '' }}
  TURBO_LOG_ORDER: stream
  INSTALL_OPTIONS: |
    ${{ !(github.event_name == 'pull_request' && startsWith(github.event.pull_request.base.ref, 'v')) && '"...[HEAD^1]"' || './{apps,examples,packages}/*' }}
  BUILD_OPTIONS: |
    ${{ !(github.event_name == 'pull_request' && startsWith(github.event.pull_request.base.ref, 'v')) && '"{./apps/*}[HEAD^1]^..." "{./examples/*}[HEAD^1]^..." "{./packages/*}[HEAD^1]..."' || './packages/*' }}

jobs:
  ci-general:
    name: CI General
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Set up Zimic
        id: zimic-setup
        uses: ./.github/actions/zimic-setup
        with:
          node-version: ${{ env.NODE_VERSION }}
          turbo-token: ${{ env.TURBO_TOKEN }}
          turbo-team: ${{ env.TURBO_TEAM }}
          install: '${{ env.INSTALL_OPTIONS }} zimic-example-with-openapi-typegen'
          build: '${{ env.BUILD_OPTIONS }} zimic-example-with-openapi-typegen^...'

      - name: Check formatting style
        uses: ./.github/actions/zimic-style-check

      - name: Check if auto-generated types are in sync
        run: |
          cp \
            ./examples/with-openapi-typegen/src/types/github/typegen/generated.ts \
            ./examples/with-openapi-typegen/src/types/github/typegen/generated.current.ts

          pnpm --dir examples/with-openapi-typegen typegen:github
          pnpm --dir examples style:format ./with-openapi-typegen/src/types/github/typegen/generated.ts

          if ! diff -u \
            ./examples/with-openapi-typegen/src/types/github/typegen/generated.ts \
            ./examples/with-openapi-typegen/src/types/github/typegen/generated.current.ts
          then
            echo \
              "[examples/with-openapi-typegen] Generated types are out of date." \
              "Please run 'pnpm --dir examples/with-openapi-typegen typegen:github' and commit the changes." >&2
            exit 1
          else
            rm ./examples/with-openapi-typegen/src/types/github/typegen/generated.current.ts
            echo "[examples/with-openapi-typegen] Generated types are up to date."
          fi

      - name: Lint code and check types
        run: |
          pnpm turbo \
            types:check lint:turbo \
            --continue \
            --concurrency 100% \
            ${{ steps.zimic-setup.outputs.install-filters }}

  ci-node:
    name: CI Node.js
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 18
          - 20
          - 22

    env:
      NODE_VERSION: ${{ matrix.node-version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Set up Zimic
        id: zimic-setup
        uses: ./.github/actions/zimic-setup
        with:
          node-version: ${{ env.NODE_VERSION }}
          turbo-token: ${{ env.TURBO_TOKEN }}
          turbo-team: ${{ env.TURBO_TEAM }}
          install: ${{ env.INSTALL_OPTIONS }}
          build: ${{ env.BUILD_OPTIONS }}

      - name: Run tests
        run: |
          pnpm --dir packages/zimic playwright install chromium

          pnpm turbo \
            test:turbo \
            --continue \
            --concurrency 100% \
            ${{ steps.zimic-setup.outputs.install-filters }}
        env:
          PLAYWRIGHT_WORKERS: 50%

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: test-results-node-${{ matrix.node-version }}
          path: |
            ./apps/*/tests/coverage
            ./packages/*/tests/coverage
            ./examples/*/tests/reports
            ./examples/*/tests/outputs
          retention-days: 7

  ci-typescript:
    name: CI TypeScript
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        typescript-version:
          - '4.8'
          - '4.9'
          - '5.0'
          - '5.1'
          - '5.2'
          - '5.3'
          - '5.4'
          - '5.5'
          - '5.6'

    env:
      TYPESCRIPT_VERSION: ${{ matrix.typescript-version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Set up Zimic
        id: zimic-setup
        uses: ./.github/actions/zimic-setup
        with:
          node-version: ${{ env.NODE_VERSION }}
          turbo-token: ${{ env.TURBO_TOKEN }}
          turbo-team: ${{ env.TURBO_TEAM }}
          install: '${{ env.INSTALL_OPTIONS }} zimic-test-client zimic-examples zimic-example-*'
          build: '${{ env.BUILD_OPTIONS }} zimic-test-client^... zimic-examples^... zimic-example-*^...'

      - name: Set TypeScript version
        run: |
          pnpm update \
            typescript@${{ matrix.typescript-version }} \
            --recursive \
            ${{ steps.zimic-setup.outputs.install-filters }} \
            --filter !zimic \
            --filter !@zimic/*

      - name: Check types
        run: |
          filterOptionsOfPackagesUsingFastify=(
            '--filter !zimic-example-with-jest-node'
            '--filter !zimic-example-with-vitest-node'
            '--filter !zimic-example-with-openapi-typegen'
          )

          filterOptionsOfPackagesUsingNext=(
            '--filter !zimic-example-with-playwright'
            '--filter !zimic-example-with-next-js-app'
            '--filter !zimic-example-with-next-js-pages'
          )

          pnpm turbo \
            types:check \
            --continue \
            --concurrency 100% \
            ${{ steps.zimic-setup.outputs.install-filters }} \
            --filter !zimic \
            --filter !@zimic/* \
            $([[ '${{ matrix.typescript-version }}' =~ ^4\. ]] && echo ${filterOptionsOfPackagesUsingFastify[@]}) \
            $([[ '${{ matrix.typescript-version }}' =~ ^(4\.|5\.0) ]] && echo ${filterOptionsOfPackagesUsingNext[@]})
